<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document <%= title %> </title>
    <link rel="stylesheet" href="/style.css">
    <style>
        @import url('http://fonts.googleapis.com/css?family=Noto+Serif:wgth@400;700&display=swap');
     /* Reset styles */
html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Serif', serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav li {
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: #777;
}

nav h1 {
    font-size: 2em;
}

footer {
    text-align: center;
    margin-top: 80px;
    color: #777;
}

h2 {
    margin-bottom: 40px;
}

/* Index, Details, Create Styles */
.form-container {
    max-width: 400px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 24px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
textarea:focus {
    outline: none;
    border-color: #777;
}

button {
    background-color: crimson;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #900;
}
nav,footer{
    width: 100%;
}
    </style>
</head> 