<nav>
    <% const name = 'UMWIZERWA' %>
    <div class="site-title">
        <p><%= name %></p>
        <a href="/"><h1>blog Ruth</h1></a>
        <p>A Umwizerwa Site</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blogs</a></li>
    </ul>
</nav>